<!-- views/skills/index.ejs -->
<%- include('../partials/header') %>

<h1>All Developer Skills</h1>
<ul>
  <% skills.forEach(function(skill) { %>
    <li>
      <a href="/skills/<%= skill.id %>"><%= skill.name %></a>
    </li>
  <% }); %>
</ul>

<%- include('../partials/footer') %>
