<%- include('../partials/header') %>

<form action="/skills" method="POST">
  <label for="name">Skill Name:</label>
  <input type="text" id="name" name="name">
  <label for="level">Level:</label>
  <input type="text" id="level" name="level">
  <button type="submit">Add Skill</button>
</form>

<%- include('../partials/footer') %>
